<!doctype html>
<html>
	<head>
		<title>Upload Files</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
		<link rel="stylesheet" href="static/style.css">
		<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
		
		<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
		
		<script type="text/javascript">
			function server_call(){
				var formData = new FormData();
				var total = document.getElementById('images').files.length;
				
				for (var x = 0; x < total; x++) {
					formData.append("files[]", document.getElementById('images').files[x]);
				}
				
				sendDataToServer(formData);
			}
			function sendDataToServer(formData){
				console.log(formData);
			
				var SERVER_URL = "http://localhost:5000/";
				var REST_API = SERVER_URL + "objectDetect";
				
				var xhttp = new XMLHttpRequest();
				xhttp.open("POST", REST_API, true);
				
				xhttp.onload = function (e){
					if (xhttp.readyState === 4)
					{
						if (xhttp.status === 200)
						{
							console.log("RESPONSE RECEIVED!");
							var data = JSON.parse(xhttp.responseText);
							console.log(data);
							
							display_output(data);
						}else{
							alert("Error Occured! Check logs");
							console.error("Server error: ", xhttp.statusText);
						}
					}
				};
				xhttp.onerror = function (e)
				{
					console.error("Error connecting to: ", SERVER_URL);
				};
				
				xhttp.send(formData);
			}
			
			function display_output(server_data){
				var data = server_data["ls"];
				
				var most_outer_div = document.getElementById("main_blog_div");
				var inner_div = document.getElementById("sub_blog_div");
				var slider_div = document.getElementById("slider_div");
				
				inner_div.innerHTML = "";
				slider_div.innerHTML = "";
				
				for(var x = 0; x < data.length; x++){
					var item_div = document.createElement("div");
					
					if(x == 0){
						if(data.length == 1){
							item_div.setAttribute("class", "blog-slider__item swiper-slide swiper-slide-active swiper-slide-next swiper-slide-prev");
						}else{
							item_div.setAttribute("class", "blog-slider__item swiper-slide swiper-slide-active");
						}
						
						item_div.setAttribute("style","width: 750px ; opacity: 1; transform: translate3d(" + ((-750) * x).toString() + "px, 0px, 0px); transition-duration: 0ms;");
					}else{
						if(x == data.length - 1){
							item_div.setAttribute("class", "blog-slider__item swiper-slide swiper-slide-prev");
						}else{
							item_div.setAttribute("class", "blog-slider__item swiper-slide swiper-slide-next");
						}
						item_div.setAttribute("style","width: 750px ; opacity: 0; transform: translate3d(" + ((-750) * x).toString() + "px, 0px, 0px); transition-duration: 0ms;");
					}
					
					
					var image_div = document.createElement("div");
					image_div.setAttribute("class", "blog-slider__img");
					
					var img = document.createElement("img");
					img.setAttribute("src", data[x]["path"]);
					image_div.appendChild(img);
					
					process_stat(data[x]["stats"], "myModal" + x.toString());
					
					var a_tag = document.createElement("a");
					a_tag.setAttribute("data-target", "#myModal" + x.toString());
					a_tag.setAttribute("data-toggle", "modal");
					a_tag.setAttribute("href", "#myModal" + x.toString());
					a_tag.setAttribute("class", "blog-slider__button");
					a_tag.appendChild(document.createTextNode("VIEW DETAILED STATISTICS"));
					
					item_div.appendChild(image_div);
					item_div.appendChild(a_tag);
					
					var span = document.createElement("span");
					
					if(x == 0){
						span.setAttribute("class", "swiper-pagination-bullet swiper-pagination-bullet-active");
					}else{
						span.setAttribute("class", "swiper-pagination-bullet");
					}
					
					span.setAttribute("tabindex", "0");
					span.setAttribute("role", "button");
					span.setAttribute("aria-label", "Go to slide " + (x+1).toString());
					
					slider_div.appendChild(span);
					inner_div.appendChild(item_div);
				}
				var swiper = new Swiper('.blog-slider', {
					  spaceBetween: 30,
					  effect: 'fade',
					  loop: true,
					  mousewheel: {
						invert: false,
					  },
					  // autoHeight: true,
					  pagination: {
						el: '.blog-slider__pagination',
						clickable: true,
					  },
					  obeserver : true,
					  observerParents : true,
					  preventClicks: false,
					  preventClicksPropagation: false
				});
				most_outer_div.style.display = 'inherit';
			}
			
			function process_stat(dic, id){
				var main_modal = document.createElement("div");
				main_modal.setAttribute("id", id);
				main_modal.setAttribute("class", "modal");
				
				var modal_dialog = document.createElement("div");
				modal_dialog.setAttribute("class", "modal-dialog");
				
				var modal_content = document.createElement("div");
				modal_content.setAttribute("class", "modal-content");
				
				////
				
				var modal_header = document.createElement("div");
				modal_header.setAttribute("class", "modal-header");
				
				var h4 = document.createElement("h4");
				h4.setAttribute("class", "modal-title");
				h4.appendChild(document.createTextNode("Object Statistics"));
				
				var button = document.createElement("button");
				button.setAttribute("type", "button");
				button.setAttribute("class", "close");
				button.setAttribute("data-dismiss", "modal");
				button.innerHTML = "&times;";
				
				modal_header.appendChild(h4);
				modal_header.appendChild(button);
				
				////
				
				var modal_body = document.createElement("div");
				modal_body.setAttribute("class", "modal-body");
				
				var table = document.createElement("table");
				table.setAttribute("class", "table table-striped");
				
				var thead = document.createElement("thead");
				
				var thead_tr = document.createElement("tr");
				
				var thead_td = document.createElement("td");
				var thead_td1 = document.createElement("td");
				thead_td.appendChild(document.createTextNode("Object"));
				thead_td1.appendChild(document.createTextNode("Count"));
				
				thead_tr.appendChild(thead_td);
				thead_tr.appendChild(thead_td1);
				
				thead.appendChild(thead_tr);
				
				var tbody = document.createElement("tbody");
				
				for(var i in dic){
					var tbody_tr = document.createElement("tr");
					
					var tbody_td = document.createElement("td");
					var tbody_td1 = document.createElement("td");
					
					tbody_td.appendChild(document.createTextNode(i));
					tbody_td1.appendChild(document.createTextNode(dic[i]));
					
					tbody_tr.appendChild(tbody_td);
					tbody_tr.appendChild(tbody_td1);
					
					tbody.appendChild(tbody_tr);
				}
				
				table.appendChild(thead);
				table.appendChild(tbody);
				
				modal_body.appendChild(table);
				
				////
				
				var modal_footer = document.createElement("div");
				modal_footer.setAttribute("class", "modal-footer");
				
				var button2 = document.createElement("button");
				button2.setAttribute("type", "button");
				button2.setAttribute("class", "btn btn-danger");
				button2.setAttribute("data-dismiss", "modal");
				button2.appendChild(document.createTextNode("Close"));
				
				modal_footer.appendChild(button2);
				
				////
				
				modal_content.appendChild(modal_header);
				modal_content.appendChild(modal_body);
				modal_content.appendChild(modal_footer);
				
				modal_dialog.appendChild(modal_content);
				main_modal.appendChild(modal_dialog);
				
				document.body.appendChild(main_modal);
				main_modal.style.display = "none";
			}
		</script>
	</head>
	<body>
		<center>
			<div style="padding-bottom:30px">
				<h2>Select file(s) to upload</h2>
				<input type="file" name="files[]" id="images" multiple="true" autocomplete="off" required>
				<input type="button" value="Submit" onclick="server_call()">
			</div>
		</center>
		
		<div class="blog-slider" id="main_blog_div" style="display:none;" >
			<div class="blog-slider__wrp swiper-wrapper" id="sub_blog_div" >
			</div>
			<div class="blog-slider__pagination swiper-pagination-clickable swiper-pagination-bullets" id="slider_div">
			</div>
		</div>
			
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<script  src="static/script.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		
	</body>
</html>